<!DOCTYPE html>
<html lang="en">
<head>
    <title>所有HOST - 测试环境</title>
    <meta charset="UTF-8">
    <meta name="keywords" content="API管理平台,接口管理平台,mock测试,接口文档管理,接口文档平台,接口文档系统,API文档管理"/>
    <meta name="description" content="DOClever是一款开源免费的可视化接口管理工具，专业的api接口管理系统，集接口文档、接口自动化测试、Mock数据、团队协作、接口快照等于一身的移动时代首选接口管理平台！"/>
    <link href="../css/bootstrap-3.3.7.min.css" rel="stylesheet">
    <link href="../../common/css/common.css" rel="stylesheet">
    <script src="../js/jquery-3.4.1.min.js"></script>
    <script src="../../common/js/layer/layer.js"></script>
    <script src="../../common/js/params.js"></script>
	<style>
	th{
		
		vertical-align: middle;
	}
	body {
		background-color: white;
	}
	</style>

</head>
<body>
	<div class="" style="width: 100%;min-width: 1200px;padding: 10px;overflow-x: auto;">
		<h2>测试环境全部host</h2>
		<table class="table" id="resulttable">
			<tbody id="tbody">
				
			</tbody>
			
		</table>
</div>
<script type="text/javascript">
    $(function () {
		queryList()
	})

	function queryList(){
		
		var index=layer.load()
		$.ajax({
		        type: "get",
		        method: "GET",
		        url: "/tools/domainhostlist",
		        data: {},
		        contentType:"application/x-www-form-urlencoded",
		        success: function(result){
					console.log(result)
					if (result.code==200)  {
						var html="";
						var data=result.data;

						for(var i=0,len=data.length;i<len;i++){
							html+='<tr>'
							html+='<td>'+data[i].host+' '+data[i].domain+'</td>'
							html+='</tr>'
						}

						$("#tbody").html(html)
					} else {
						console.log(result.msg);
					}
					layer.close(index);
		        },
		        error:function (error) {
		            console.log(error);
		            alert(error);
		        }
		    }); 
	}

</script>
</body>
</html>