<!DOCTYPE html>
<html lang="en">
<head>
    <title>新增用例统计</title>
    <meta charset="UTF-8">
    <meta name="keywords" content="API管理平台,接口管理平台,mock测试,接口文档管理,接口文档平台,接口文档系统,API文档管理"/>
    <meta name="description" content="DOClever是一款开源免费的可视化接口管理工具，专业的api接口管理系统，集接口文档、接口自动化测试、Mock数据、团队协作、接口快照等于一身的移动时代首选接口管理平台！"/>
    <link href="../common/common.css" rel="stylesheet">
    <script src="../js/jquery-1.10.2.min.js"></script>
    <link href="../css/bootstrap-3.3.7.min.css" rel="stylesheet">

</head>
<body>
		<ol class="breadcrumb bread-margin">
				<li class="active" target="_blank">
						<a href="newinterfaces.html" target="_blank" rel="noopener noreferrer">新增接口统计</a>
			   </li>
			   <li class="">
					<a href="newinterexample.html" target="_blank" rel="noopener noreferrer">新增接口的实例统计</a>
			   </li>
				<li class="" target="_blank">
						<a href="newtestcase.html" target="_blank" rel="noopener noreferrer">新增用例统计</a>
				</li>
			</ol>
<div class="container">
		
    <table class="table" id="team">
        <thead>
                <tr>
                        <th>项目</th>
                        <th>团队</th>
                        <th>当月新增实例数</th>
                         <th>实例列表</th>
                    </tr>
        </thead>
        <tbody id="body">
                <!-- <tr>
                        <td>团队</td>
                        <td>项目</td>
                        <td>4月新增接口数</td>
                         <td>接口列表</td>
                    </tr> -->
        </tbody>
        
    </table>
</div>
<script type="text/javascript">
    


</script>
</body>
</html>